<p-table [value]="rowList" [style]="{'width':'330px'}">
  <ng-template pTemplate="header">
    <tr>
      <th>
        <div style="width:100%;height:100%;display:flex;flex-direction:row;justify-content:flex-start;align-items:center;">
          <span style="flex-grow:1;">column1</span>
          <i *ngIf="sortOrderColumn1 === SORT_ORDER_ASC" class="pi pi-sort-numeric-down" (click)="onSort(1)"></i>
          <i *ngIf="sortOrderColumn1 === SORT_ORDER_DESC" class="pi pi-sort-numeric-up" (click)="onSort(1)"></i>
        </div>
      </th>
      <th>
        <div style="width:100%;height:100%;display:flex;flex-direction:row;justify-content:flex-start;align-items:center;">
          <span style="flex-grow:1;">column2</span>
          <i *ngIf="sortOrderColumn2 === SORT_ORDER_ASC" class="pi pi-sort-numeric-down" (click)="onSort(2)"></i>
          <i *ngIf="sortOrderColumn2 === SORT_ORDER_DESC" class="pi pi-sort-numeric-up" (click)="onSort(2)"></i>
        </div>
      </th>
      <th>
        <div style="width:100%;height:100%;display:flex;flex-direction:row;justify-content:flex-start;align-items:center;">
          <span style="flex-grow:1;">column3</span>
          <i *ngIf="sortOrderColumn3 === SORT_ORDER_ASC" class="pi pi-sort-numeric-down" (click)="onSort(3)"></i>
          <i *ngIf="sortOrderColumn3 === SORT_ORDER_DESC" class="pi pi-sort-numeric-up" (click)="onSort(3)"></i>
        </div>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-row>
    <tr>
      <td>{{row.column1}}</td>
      <td>{{row.column2}}</td>
      <td>{{row.column3}}</td>
    </tr>
  </ng-template>
</p-table>
